<h1>HOT JUICY BURGERS</h1>

<h2>Eat all the burgers you can</h2>

<ul>
  {{#each burgers}}
    {{#unless eaten}}
      {{> burgers/burger-block eaten=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Alredy been eaten</h2>

<ul>
  {{#each burgers}}
    {{#if eaten}}
      {{> burgers/burger-block eaten=false}}
    {{/if}}
  {{/each}}
</ul>
<div class="form-box">
<h2>new burgers coming in!</h2>
<form class="create-form">

  <div class="form-group">
    <label for="burger">Burger Name:</label>
    <input type="text" id="burger" name="name">
  </div>

  <div class="form-group">
    <label for="devoured">hope youre hungry</label><br>
    <input type="radio" name="devoured" value="0" checked="checked"> Ready, of course!!
  </div>

  <button type="submit">Add Burger</button>
</form>
</div>